.bfgoe-card-wrapper {
    @include box-shadow(0 4px 8px 0 rgba(0,0,0,0.2));
    padding: $padding-medium;

    .bfgoe-card-title {
        img {
            width: 10em;
        }
    }

    .bfgoe-card-text{
        color: rgba(0, 0, 0, 0.75);
        padding-bottom: $padding-small;
    }


    .bfgoe-card-action {

        border-top: 0.1px solid grey;
        padding: $padding-medium $padding-medium 0 $padding-medium;
    }
}