.bfgoe-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgba(0, 0, 0, 0.507);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    text-align: center;

    @media all and (max-width: 30em) {
        .bfgoe-button {
            display: block;
            margin: 0.4em auto;
        }
    }

    a {
        color: rgba(0,0,0,1);
        text-decoration: none;
    }

}