footer {
    display: flex;
    flex-direction: column;
    font-size: small;
    font-family: 'open_sanssemibold';
    color: rgb(44, 43, 43);

    a {
        text-decoration: none;
        color: rgb(44, 43, 43);
    }

    ul {
        list-style-type: none;
        padding-left: $padding-medium;
        padding-top: $padding-medium;
        margin: 0;
    }
    
.contact-wrapper, .footer-link-wrapper {

        li:first-child {
            padding-bottom: $padding-small;
            color: $darkish;
        }
}

   .footer-last {
        ul {
            display: flex;

            li {
                padding: 0 $padding-small $padding-small 0;
            }
        }
    }
}