header {
    .comic-homepage-wrapper {
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;

        .dsb-header-image {
            width: 100%;
            height: auto;
        }
    }

    .dsb-headline {
        padding-left: $padding-medium;
    }

    .dsb-sub-headline {
        padding-left: $padding-medium;
    }
}