header {
    .comic-homepage-wrapper {
        width: 78vw;
        height: auto;
        margin-right: auto;
        margin-left: auto;

        .dsb-header-image {
            width: 100%;
            height: auto;
        }
    }
}