header {

    .comic-homepage-wrapper {
        width: 100%;
        height: auto;
        

        .dsb-header-image {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }

    .dsb-headline {
        padding-left: $padding-medium;
    }

    .dsb-sub-headline {
        padding-left: $padding-medium;
    }
}