

    .logo {
        display: block;
        min-width: 50px;
        width: 10%;
        height: 20rem;
        background-image: url("../images/Logo.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

