
.dsb-navbar {
  display: flex;
  @include box-shadow(3px 3px 5px rgba(0, 0, 0, 0.2));

  .dsb-logo-container {

    flex-basis: 10%;

    .logo {
      padding: $padding-medium;
    }
  }

  .hamburger-wrap {
    margin-left: auto;
  }

  nav {

    .dsb-navigation-list {
      display: flex;
      flex-direction: column;

      position: absolute;
      right: 0;
      bottom: 0;
      top: 72.8px;

      margin: 0;
      padding: $padding-small;

      background-color: white;
      list-style: none;
      z-index: 200;
      border-left-width: 1px solid black;
      @include box-shadow(-8px 7px 12px 0px rgba(97,65,65,1));

    }

    .hide {
      display: none;
    }
  
    li {
      margin: 0.5em 0.1em 0.1em 0.5em;
      border-bottom: 1px solid $darkish;
    }
  
    a {
      display: block;
      padding: $padding-small;
      text-decoration: none;
      color: black;
      font-size: medium;
    }
  }
}

@media only screen and (min-width: 1024px) {
  
  .dsb-navbar {

    box-shadow: none;

  .hamburger-wrap{
    display: none;
  }
  
  nav {
    align-self: flex-end;
    flex-basis: 80%;

    .hide {
      display: flex;
      justify-content: space-evenly;
      padding: 0;
      margin-bottom: 1%;
      list-style: none;
    }

    li {
      margin: 0;
    }
    
    
    a {
      text-decoration: none;
      font-size: medium;
    }
  }

}

}





