

@font-face {
    font-family: 'nunitoregular';
    src: url('../fonts/Nunito/nunito-regular-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nunitoblack';
    src: url('../fonts/Nunito/nunito-black-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nunitoblack_italic';
    src: url('../fonts/Nunito/nunito-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nunitobold';
    src: url('../fonts/Nunito/nunito-bold-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nunitobold_italic';
    src: url('../fonts/Nunito/nunito-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nunitoextrabold';
    src: url('../fonts/Nunito/nunito-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nunitoextrabold_italic';
    src: url('../fonts/Nunito/nunito-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nunitoextralight';
    src: url('../fonts/Nunito/nunito-extralight-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nunitoextralight_italic';
    src: url('../fonts/Nunito/nunito-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nunitoitalic';
    src: url('../fonts/Nunito/nunito-italic-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight';
    src: url('../fonts/Nunito/nunito-light-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nunitolight_italic';
    src: url('../fonts/Nunito/nunito-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunito-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/OpenSans/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/OpenSans/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/OpenSans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/OpenSans/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/OpenSans/opensans-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensans-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/OpenSans/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}