*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  p {
    margin: calc(1em + 0.5vw) 0;
  }

  ol {
    counter-reset: item li {
      display: block;
    }
  }
  ol > li {
    counter-increment: item;
  }

  ol ol > li {
    display: block;
  }

  ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
  }
}

.general-wrapper {
  max-width: 1450px;
  margin: 0 auto;
  margin-top: 1%;
}
