
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;

    .dsb-wrapper {
      width: 100%;
      height: auto;
    }

}


