h1, h2, h3, h4, h5, h6 {
    font-family: 'nunitoregular';
    line-height: 1.2;
}

body {  
    font-family: 'open_sansregular';
    font-size: 5vw;
    line-height: 1.6;
}

h1 {
    font-family: 'nunitolight';
    letter-spacing: -1px;
    font-size: 8vw;
    
}

h3 {
    font-family: 'nunitobold';
    font-size: 1.3em;
    letter-spacing: -1px;
    color: $darkish;
}


