
html {
  font-size:1rem;
 }
 

 @media (min-width:640px) and (max-width:1023px) {
  html {
   font-size: 1.0625rem;
  }
 }
 
 @media (min-width:1024px) and (max-width:1279px) {
  html {
   font-size: 1.125rem;
  }
 }
 

 @media (min-width:1280px) {
  html {
   font-size: 1.1875rem;
  }
 }

  body {
    font-family: "open_sansregular";

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "nunitoregular";
      line-height: 1.2;
    }

    h1 {
      font-family: "nunitolight";
      letter-spacing: -1px;
      font-size: 2em;
    }

    h3 {
      font-family: "nunitobold";
      letter-spacing: -1px;
      color: rgba(0, 0, 0, 0.75);
    }

    p {
        line-height: calc(1.5em + .2vw);
        word-break: break-word;
    }

  }

  @media screen and (min-width: 1024px) {
    body {
      font-size: 1em;
    }
  }

