.person-one, .person-two, .about-contact-dsb, .about-contact-bfgoe {
    padding: $padding-small;

    ul {
        list-style-type: none;
    }

    .person-header {
        img {
            width: 20%;
            height: auto;
        }
    }
}

.about-contact-dsb {
    margin-top: 5rem;
}

.about-contact-bfgoe {
    padding-bottom: $padding-large;


    .bfgoe-card-wrapper {
        margin-top: 1em;
    }
}