.person-one, .person-two, .about-contact-dsb, .about-contact-bfgoe {
    @include text-alignment-deux;
    padding: $padding-small;

    ul {
        list-style-type: none;
    }

    .person-header {
        img {
            width: 20%;
            height: auto;
        }
    }
}