
  .start-header {
    display: flex;
    flex-direction: column;

    .comic-homepage-wrapper {
      
      width: 50%;
      align-self: center;

      .dsb-header-image {
        width: 100%;
        height: auto;
      }
    }

    .dsb-headline {
      align-self: center;
    }

    .dsb-sub-headline {
      align-self: center;
    }
  }

  .start-main {
    display: flex;
    flex-direction: column;
   
    .start-article {
      padding: $padding-large;
    }

    .bfgoe-card-wrapper {
      flex-basis: 100%;
      margin-left: auto;
      margin-right: auto;
    } 
  }


@media only screen and (min-width: 1024px) {
  .start-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: $padding-large;

    .comic-homepage-wrapper {
      order: 2;
      flex-basis: 40%;
      width: 100%;

      .dsb-header-image {
        width: 100%;
        height: auto;
      }
    }

    .dsb-headline {
      order: 1;
      flex-basis: 15%;
      padding-right: $padding-medium;
    }

    .dsb-sub-headline {
      order: 3;
      flex-basis: 15%;
      padding-left: $padding-medium;
    }
  }

  .start-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: $padding-large;
    padding-top: 0;
    flex-wrap: wrap;

    .start-article {
      flex: 1 1 100%;
      padding-top: 0;
    }

    .bfgoe-card-wrapper {
      flex: 1 1 100%;
    }
  }
}
