

    .logo {
        width: 50%;
        height: 20rem;
        background-image: url("../images/Logo.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

