*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }
  body p {
    margin: calc(1em + 0.5vw) 0; }
  body ol {
    counter-reset: item li;
      counter-reset-display: block; }
  body ol > li {
    counter-increment: item; }
  body ol ol > li {
    display: block; }
  body ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -33px; }

.general-wrapper {
  max-width: 1450px;
  margin: 0 auto; }

@font-face {
  font-family: 'nunitoregular';
  src: url("../fonts/Nunito/nunito-regular-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoblack';
  src: url("../fonts/Nunito/nunito-black-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoblack_italic';
  src: url("../fonts/Nunito/nunito-blackitalic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitobold';
  src: url("../fonts/Nunito/nunito-bold-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitobold_italic';
  src: url("../fonts/Nunito/nunito-bolditalic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoextrabold';
  src: url("../fonts/Nunito/nunito-extrabold-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoextrabold_italic';
  src: url("../fonts/Nunito/nunito-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoextralight';
  src: url("../fonts/Nunito/nunito-extralight-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoextralight_italic';
  src: url("../fonts/Nunito/nunito-extralightitalic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoitalic';
  src: url("../fonts/Nunito/nunito-italic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitolight';
  src: url("../fonts/Nunito/nunito-light-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitolight_italic';
  src: url("../fonts/Nunito/nunito-lightitalic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold_italic';
  src: url("../fonts/OpenSans/opensans-bolditalic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url("../fonts/OpenSans/opensans-extrabold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url("../fonts/OpenSans/opensans-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/OpenSans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight_italic';
  src: url("../fonts/OpenSans/opensans-lightitalic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansitalic';
  src: url("../fonts/OpenSans/opensans-regularitalic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/OpenSans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url("../fonts/OpenSans/opensans-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 1rem; }

@media (min-width: 640px) and (max-width: 1023px) {
  html {
    font-size: 1.0625rem; } }

@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 1.125rem; } }

@media (min-width: 1280px) {
  html {
    font-size: 1.1875rem; } }

body {
  font-family: "open_sansregular"; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: "nunitoregular";
    line-height: 1.2; }
  body h1 {
    font-family: "nunitolight";
    letter-spacing: -1px;
    font-size: 2em; }
  body h3 {
    font-family: "nunitobold";
    letter-spacing: -1px;
    color: rgba(0, 0, 0, 0.75); }
  body p {
    line-height: calc(1.5em + .2vw);
    word-break: break-word; }

@media screen and (min-width: 1024px) {
  body {
    font-size: 1em; } }

.dsb-navbar {
  display: flex;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }
  .dsb-navbar .dsb-logo-container .logo {
    padding: 1.2rem; }
  .dsb-navbar .hamburger-wrap {
    margin-left: auto; }
  .dsb-navbar nav .dsb-navigation-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 6em;
    margin: 0;
    padding: 0.5rem;
    background-color: white;
    list-style: none;
    z-index: 200;
    border-left-width: 1px solid black;
    -webkit-box-shadow: -8px 7px 12px 0px #614141;
    -moz-box-shadow: -8px 7px 12px 0px #614141;
    box-shadow: -8px 7px 12px 0px #614141; }
  .dsb-navbar nav .hide {
    display: none; }
  .dsb-navbar nav li {
    margin: 0.5em 0.1em 0.1em 0.5em;
    border-bottom: 1px solid rgba(61, 8, 8, 0.582); }
  .dsb-navbar nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: medium; }

@media only screen and (min-width: 1024px) {
  .dsb-navbar {
    display: flex;
    flex-wrap: wrap;
    box-shadow: none; }
    .dsb-navbar .dsb-logo-container {
      align-self: flex-start;
      flex: 1 1 100%; }
      .dsb-navbar .dsb-logo-container img {
        width: 10em;
        max-width: 11em; }
    .dsb-navbar .hamburger-wrap {
      display: none; }
    .dsb-navbar nav {
      flex: 1 1 100%; }
      .dsb-navbar nav .hide {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none; }
      .dsb-navbar nav li {
        margin: 0;
        margin: 0 2%; }
      .dsb-navbar nav a {
        text-decoration: none;
        font-size: 0.9em; }
      .dsb-navbar nav li:hover a {
        color: rgba(61, 8, 8, 0.582);
        -webkit-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out; }
      .dsb-navbar nav .active-nav-link {
        border-width: 3px; } }

.hamburger-wrap {
  padding-top: 1.2rem;
  padding-right: 1.2rem; }
  .hamburger-wrap label.hamburg {
    display: block;
    background: white;
    width: 75px;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px; }
  .hamburger-wrap input#hamburg {
    display: none; }
  .hamburger-wrap .line {
    position: absolute;
    right: 10px;
    height: 4px;
    width: 55px;
    background: #350707;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    transform-origin: center; }
  .hamburger-wrap .line:nth-child(1) {
    top: 12px; }
  .hamburger-wrap .line:nth-child(2) {
    top: 24px; }
  .hamburger-wrap .line:nth-child(3) {
    top: 36px; }
  .hamburger-wrap #hamburg:checked + .hamburg .line:nth-child(1) {
    transform: translateY(12px) rotate(-45deg); }
  .hamburger-wrap #hamburg:checked + .hamburg .line:nth-child(2) {
    opacity: 0; }
  .hamburger-wrap #hamburg:checked + .hamburg .line:nth-child(3) {
    transform: translateY(-12px) rotate(45deg); }

footer {
  /* background-color: rgba(78, 76, 76, 0.048);  */
  border-top: 1px solid lightgray; }
  footer a {
    text-decoration: none;
    color: #2c2b2b; }
  footer ul {
    list-style-type: none; }
  footer .general-footer-wrapper {
    display: flex;
    flex-direction: column;
    font-size: small;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
    footer .general-footer-wrapper .dsb-footer-wrapper {
      padding: 1.2rem;
      font-family: "open_sanssemibold";
      color: rgba(36, 36, 36, 0.781); }
      footer .general-footer-wrapper .dsb-footer-wrapper img {
        width: 7em; }
      footer .general-footer-wrapper .dsb-footer-wrapper p {
        display: block;
        max-width: 20em;
        font-size: 0.9em;
        line-height: 15px;
        margin: 0;
        padding: 0.5rem 0; }
    footer .general-footer-wrapper .contact-wrapper,
    footer .general-footer-wrapper .footer-link-wrapper,
    footer .general-footer-wrapper .footer-last {
      padding: 0.5rem 0; }
      footer .general-footer-wrapper .contact-wrapper li:first-child,
      footer .general-footer-wrapper .footer-link-wrapper li:first-child,
      footer .general-footer-wrapper .footer-last li:first-child {
        color: rgba(61, 8, 8, 0.582); }
      footer .general-footer-wrapper .contact-wrapper ul,
      footer .general-footer-wrapper .footer-link-wrapper ul,
      footer .general-footer-wrapper .footer-last ul {
        padding: 0 1.2rem;
        margin: 0; }
        footer .general-footer-wrapper .contact-wrapper ul li,
        footer .general-footer-wrapper .footer-link-wrapper ul li,
        footer .general-footer-wrapper .footer-last ul li {
          padding-bottom: 0.5rem; }
        footer .general-footer-wrapper .contact-wrapper ul a li:first-child,
        footer .general-footer-wrapper .footer-link-wrapper ul a li:first-child,
        footer .general-footer-wrapper .footer-last ul a li:first-child {
          color: #2c2b2b; }

@media only screen and (min-width: 560px) and (max-width: 1000px) {
  footer {
    width: 100%;
    margin: 0; }
    footer .general-footer-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1.2rem;
      width: 60%;
      margin-left: auto;
      margin-right: auto; }
      footer .general-footer-wrapper .dsb-footer-wrapper {
        flex: 1 1 100%;
        padding: 0; }
      footer .general-footer-wrapper .contact-wrapper,
      footer .general-footer-wrapper .footer-link-wrapper {
        flex: 1 1 50%;
        padding: 1.2rem 0 0 0; }
        footer .general-footer-wrapper .contact-wrapper ul,
        footer .general-footer-wrapper .footer-link-wrapper ul {
          padding: 0; }
      footer .general-footer-wrapper .footer-last {
        padding: 1.2rem 0 0 0; }
        footer .general-footer-wrapper .footer-last ul {
          padding: 0; } }

@media only screen and (min-width: 1001px) {
  footer {
    width: 100%;
    margin: 0; }
    footer .general-footer-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1.2rem;
      padding-left: 5rem;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      max-width: 800px; }
      footer .general-footer-wrapper .dsb-footer-wrapper {
        flex: 1 1 100%;
        padding: 0; }
      footer .general-footer-wrapper .contact-wrapper,
      footer .general-footer-wrapper .footer-link-wrapper,
      footer .general-footer-wrapper .footer-last {
        flex: 1 1 33%;
        padding: 1.2rem 0 0 0; }
        footer .general-footer-wrapper .contact-wrapper ul,
        footer .general-footer-wrapper .footer-link-wrapper ul,
        footer .general-footer-wrapper .footer-last ul {
          padding: 0; } }

.bfgoe-card-wrapper {
  border: 1px solid rgba(61, 8, 8, 0.582);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 5rem 0;
  max-width: 350px; }
  .bfgoe-card-wrapper .bfgoe-card-title {
    padding: 1.2rem; }
    .bfgoe-card-wrapper .bfgoe-card-title img {
      width: 8em; }
  .bfgoe-card-wrapper .bfgoe-card-text {
    color: rgba(0, 0, 0, 0.849);
    padding: 0 1.2rem 1.2rem 0;
    width: 100%;
    font-size: 0.8em; }
  .bfgoe-card-wrapper .bfgoe-card-action {
    display: flex;
    border-top: 0.1px solid grey;
    padding: 1.2rem 1.2rem 0 0; }

.bfgoe-button {
  display: inline-block;
  padding: 0.3em 1em;
  border: 0.1em solid rgba(0, 0, 0, 0.37);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.3em;
  text-align: center; }
  @media all and (max-width: 30em) {
    .bfgoe-button .bfgoe-button {
      display: block;
      margin: 0.4em auto; } }
  .bfgoe-button a {
    color: black;
    text-decoration: none;
    font-size: 0.7em; }

.comic-homepage-wrapper {
  width: 75%;
  align-self: center; }
  .comic-homepage-wrapper .dsb-header-image {
    width: 100%;
    height: auto; }

@media only screen and (min-width: 550px) and (max-width: 1023px) {
  .start-header {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .start-header .comic-homepage-wrapper {
      order: 2;
      width: 40%; }
      .start-header .comic-homepage-wrapper .dsb-header-image {
        width: 100%;
        height: auto; }
    .start-header .dsb-headline {
      order: 1;
      flex-basis: 15%;
      padding-right: 1.2rem; }
    .start-header .dsb-sub-headline {
      order: 3;
      flex-basis: 20%;
      padding-left: 1.2rem; } }

@media only screen and (min-width: 1024px) {
  .start-header {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .start-header .comic-homepage-wrapper {
      order: 2;
      width: 30%; }
      .start-header .comic-homepage-wrapper .dsb-header-image {
        width: 100%;
        height: auto; }
    .start-header .dsb-headline {
      order: 1;
      flex-basis: 15%;
      padding-right: 1.2rem; }
    .start-header .dsb-sub-headline {
      order: 3;
      flex-basis: 20%;
      padding-left: 1.2rem; }
  .start-main {
    flex-direction: column; }
    .start-main .start-article {
      padding-top: 1.2rem; }
    .start-main .bfgoe-card-wrapper {
      align-self: center;
      margin: 5rem auto; } }

.person-one, .person-two, .about-contact-dsb, .about-contact-bfgoe {
  padding: 0.5rem; }
  .person-one ul, .person-two ul, .about-contact-dsb ul, .about-contact-bfgoe ul {
    list-style-type: none; }
  .person-one .person-header img, .person-two .person-header img, .about-contact-dsb .person-header img, .about-contact-bfgoe .person-header img {
    width: 20%;
    height: auto; }

.about-contact-bfgoe {
  padding-bottom: 5rem; }

.einzelberatung-wrap {
  padding-bottom: 5rem; }
  .einzelberatung-wrap .einzelberatung-img-wrapper {
    width: 55%;
    margin-left: auto;
    margin-right: auto; }
    .einzelberatung-wrap .einzelberatung-img-wrapper img {
      margin: 0 auto;
      padding: 1.2rem 0;
      width: 60%; }

.fortbildung-teilnahmevoraussetzungen, .fortbildung-curriculum, .fortbildung-aufbau-umfang {
  padding-top: 1.2rem; }
  .fortbildung-teilnahmevoraussetzungen ul, .fortbildung-teilnahmevoraussetzungen ol, .fortbildung-curriculum ul, .fortbildung-curriculum ol, .fortbildung-aufbau-umfang ul, .fortbildung-aufbau-umfang ol {
    padding-left: 1.5em; }
    .fortbildung-teilnahmevoraussetzungen ul li, .fortbildung-teilnahmevoraussetzungen ol li, .fortbildung-curriculum ul li, .fortbildung-curriculum ol li, .fortbildung-aufbau-umfang ul li, .fortbildung-aufbau-umfang ol li {
      margin: 0.1em; }

.fortbildung-aufbau-umfang {
  padding-bottom: 5rem; }

.uebungs-wrap {
  padding-bottom: 5rem; }
  .uebungs-wrap img {
    display: block;
    width: 80%;
    margin: 0 auto; }
  .uebungs-wrap .uebungs-programm-sub-headline {
    padding-top: 1.2rem; }
  .uebungs-wrap .uebungs-programm-list li {
    padding: 0.5rem; }

@media only screen and (min-width: 550px) and (max-width: 1023px) {
  .uebungs-wrap {
    padding-bottom: 5rem; }
    .uebungs-wrap img {
      margin: 0 auto;
      padding: 1.2rem 0;
      width: 60%; }
  .uebungs-programm-sub-headline {
    padding-top: 1.2rem; }
  .uebungs-programm-list li {
    padding: 0.5rem; } }

@media only screen and (min-width: 1024px) {
  .uebungs-wrap {
    padding-bottom: 5rem; }
    .uebungs-wrap img {
      margin: 0 auto;
      padding: 1.2rem 0;
      width: 60%; }
  .uebungs-programm-sub-headline {
    padding-top: 1.2rem; }
  .uebungs-programm-list li {
    padding: 0.5rem; } }

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto; }

@media only screen and (min-width: 550px) and (max-width: 1023px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    main article {
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }

@media only screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    main article {
      width: 55%;
      margin-left: auto;
      margin-right: auto; } }

header {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 1.2rem; }

@media only screen and (min-width: 550px) and (max-width: 1023px) {
  header {
    display: flex;
    flex-direction: row; }
    header h1, header h3 {
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }

@media only screen and (min-width: 1024px) {
  header {
    padding-top: 5rem; }
    header h1, header h3 {
      width: 55%;
      margin-left: auto;
      margin-right: auto; } }
