*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }
  body p {
    margin: calc(1em + 0.5vw) 0; }
  body ol {
    counter-reset: item li;
      counter-reset-display: block; }
  body ol > li {
    counter-increment: item; }
  body ol ol > li {
    display: block; }
  body ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -33px; }

.general-wrapper {
  max-width: 1450px;
  margin: 0 auto; }

@font-face {
  font-family: "nunitoregular";
  src: url("../fonts/Nunito/nunito-regular-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "nunitobold";
  src: url("../fonts/Nunito/nunito-bold-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "nunitolight";
  src: url("../fonts/Nunito/nunito-light-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "open_sansbold";
  src: url("../fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "open_sanslight";
  src: url("../fonts/OpenSans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 1rem; }

@media (min-width: 640px) and (max-width: 1023px) {
  html {
    font-size: 1.0625rem; } }

@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 1.125rem; } }

@media (min-width: 1280px) {
  html {
    font-size: 1.1875rem; } }

body {
  font-family: "open_sansregular"; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: "nunitoregular";
    line-height: 1.2; }
  body h1 {
    font-family: "nunitolight";
    letter-spacing: -1px;
    font-size: 2em; }
  body h3 {
    font-family: "nunitobold";
    letter-spacing: -1px;
    color: rgba(0, 0, 0, 0.75); }
  body p {
    line-height: calc(1.5em + 0.2vw);
    word-break: break-word; }

@media screen and (min-width: 1024px) {
  body {
    font-size: 1em; } }

.dsb-navbar {
  display: flex;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }
  .dsb-navbar .dsb-logo-container .logo {
    padding: 1.2rem; }
  .dsb-navbar .hamburger-wrap {
    margin-left: auto; }
  .dsb-navbar nav .dsb-navigation-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 6em;
    margin: 0;
    padding: 0.5rem;
    background-color: white;
    list-style: none;
    z-index: 200;
    border-left-width: 1px solid black;
    -webkit-box-shadow: -8px 7px 12px 0px #614141;
    -moz-box-shadow: -8px 7px 12px 0px #614141;
    box-shadow: -8px 7px 12px 0px #614141; }
  .dsb-navbar nav .hide {
    display: none; }
  .dsb-navbar nav li {
    margin: 0.5em 0.1em 0.1em 0.5em;
    border-bottom: 1px solid rgba(61, 8, 8, 0.582); }
  .dsb-navbar nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: medium; }

@media only screen and (min-width: 1024px) {
  .dsb-navbar {
    display: flex;
    flex-wrap: wrap;
    box-shadow: none; }
    .dsb-navbar .dsb-logo-container {
      align-self: flex-start;
      flex: 1 1 100%; }
      .dsb-navbar .dsb-logo-container img {
        width: 10em;
        max-width: 11em; }
    .dsb-navbar .hamburger-wrap {
      display: none; }
    .dsb-navbar nav {
      flex: 1 1 100%; }
      .dsb-navbar nav .hide {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none; }
      .dsb-navbar nav li {
        margin: 0;
        margin: 0 2%; }
      .dsb-navbar nav a {
        text-decoration: none;
        font-size: 0.9em; }
      .dsb-navbar nav li:hover a {
        color: rgba(61, 8, 8, 0.582);
        -webkit-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out; }
      .dsb-navbar nav .active-nav-link {
        border-width: 3px; } }

.hamburger-wrap {
  padding-top: 1.2rem;
  padding-right: 1.2rem; }
  .hamburger-wrap label.hamburg {
    display: block;
    background: white;
    width: 75px;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px; }
  .hamburger-wrap input#hamburg {
    display: none; }
  .hamburger-wrap .line {
    position: absolute;
    right: 10px;
    height: 4px;
    width: 55px;
    background: #350707;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    transform-origin: center; }
  .hamburger-wrap .line:nth-child(1) {
    top: 12px; }
  .hamburger-wrap .line:nth-child(2) {
    top: 24px; }
  .hamburger-wrap .line:nth-child(3) {
    top: 36px; }
  .hamburger-wrap #hamburg:checked + .hamburg .line:nth-child(1) {
    transform: translateY(12px) rotate(-45deg); }
  .hamburger-wrap #hamburg:checked + .hamburg .line:nth-child(2) {
    opacity: 0; }
  .hamburger-wrap #hamburg:checked + .hamburg .line:nth-child(3) {
    transform: translateY(-12px) rotate(45deg); }

footer {
  border-top: 1px solid lightgray; }
  footer a {
    text-decoration: none;
    color: #2c2b2b; }
  footer ul {
    list-style-type: none; }
  footer .general-footer-wrapper {
    display: flex;
    flex-direction: column;
    font-size: small;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
    footer .general-footer-wrapper .dsb-footer-wrapper {
      padding: 1.2rem;
      font-family: "open_sanssemibold";
      color: rgba(36, 36, 36, 0.781); }
      footer .general-footer-wrapper .dsb-footer-wrapper img {
        width: 7em; }
      footer .general-footer-wrapper .dsb-footer-wrapper p {
        display: block;
        max-width: 20em;
        font-size: 0.9em;
        line-height: 15px;
        margin: 0;
        padding: 0.5rem 0; }
    footer .general-footer-wrapper .contact-wrapper,
    footer .general-footer-wrapper .footer-link-wrapper,
    footer .general-footer-wrapper .footer-last {
      padding: 0.5rem 0; }
      footer .general-footer-wrapper .contact-wrapper li:first-child,
      footer .general-footer-wrapper .footer-link-wrapper li:first-child,
      footer .general-footer-wrapper .footer-last li:first-child {
        color: rgba(61, 8, 8, 0.582); }
      footer .general-footer-wrapper .contact-wrapper ul,
      footer .general-footer-wrapper .footer-link-wrapper ul,
      footer .general-footer-wrapper .footer-last ul {
        padding: 0 1.2rem;
        margin: 0; }
        footer .general-footer-wrapper .contact-wrapper ul li,
        footer .general-footer-wrapper .footer-link-wrapper ul li,
        footer .general-footer-wrapper .footer-last ul li {
          padding-bottom: 0.5rem; }
        footer .general-footer-wrapper .contact-wrapper ul a li:first-child,
        footer .general-footer-wrapper .footer-link-wrapper ul a li:first-child,
        footer .general-footer-wrapper .footer-last ul a li:first-child {
          color: #2c2b2b; }

@media only screen and (min-width: 560px) and (max-width: 1000px) {
  footer {
    width: 100%;
    margin: 0; }
    footer .general-footer-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1.2rem;
      width: 60%;
      margin-left: auto;
      margin-right: auto; }
      footer .general-footer-wrapper .dsb-footer-wrapper {
        flex: 1 1 100%;
        padding: 0; }
      footer .general-footer-wrapper .contact-wrapper,
      footer .general-footer-wrapper .footer-link-wrapper {
        flex: 1 1 50%;
        padding: 1.2rem 0 0 0; }
        footer .general-footer-wrapper .contact-wrapper ul,
        footer .general-footer-wrapper .footer-link-wrapper ul {
          padding: 0; }
      footer .general-footer-wrapper .footer-last {
        padding: 1.2rem 0 0 0; }
        footer .general-footer-wrapper .footer-last ul {
          padding: 0; } }

@media only screen and (min-width: 1001px) {
  footer {
    width: 100%;
    margin: 0; }
    footer .general-footer-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1.2rem;
      padding-left: 5rem;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      max-width: 800px; }
      footer .general-footer-wrapper .dsb-footer-wrapper {
        flex: 1 1 100%;
        padding: 0; }
      footer .general-footer-wrapper .contact-wrapper,
      footer .general-footer-wrapper .footer-link-wrapper,
      footer .general-footer-wrapper .footer-last {
        flex: 1 1 33%;
        padding: 1.2rem 0 0 0; }
        footer .general-footer-wrapper .contact-wrapper ul,
        footer .general-footer-wrapper .footer-link-wrapper ul,
        footer .general-footer-wrapper .footer-last ul {
          padding: 0; } }

.bfgoe-card-wrapper {
  border: 1px solid rgba(61, 8, 8, 0.582);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 5rem 0;
  max-width: 300px; }
  .bfgoe-card-wrapper .bfgoe-card-title {
    padding: 1.2rem 0 0.5rem 1.2rem; }
    .bfgoe-card-wrapper .bfgoe-card-title img {
      width: 6em; }
  .bfgoe-card-wrapper .bfgoe-card-text {
    color: rgba(0, 0, 0, 0.705);
    padding: 0 0 0 1.2rem;
    width: 100%;
    font-family: "open_sansregular";
    font-size: 0.9em; }
  .bfgoe-card-wrapper .bfgoe-logo-wrap {
    padding: 1.2rem; }
    .bfgoe-card-wrapper .bfgoe-logo-wrap img {
      width: 4.5em; }
  .bfgoe-card-wrapper .bfgoe-card-action {
    display: flex;
    border-top: 0.1px solid grey;
    padding: 1.2rem 1.2rem 0 0; }

@media screen and (min-width: 1023px) {
  .bfgoe-card-wrapper {
    min-width: 400px; } }

.bfgoe-button {
  border: 0.05em solid rgba(61, 8, 8, 0.582);
  padding: 0.3rem;
  margin: 0 0.3em 0.3em 0.5em;
  border-radius: 0.3em; }
  .bfgoe-button a {
    color: rgba(0, 0, 0, 0.842);
    text-decoration: none;
    font-size: 0.8em;
    padding: 0.5rem; }

@media screen and (min-width: 1023px) {
  .bfgoe-button:hover {
    background-color: #ad1616;
    border: none;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    opacity: 0.8; }
    .bfgoe-button:hover a {
      color: white;
      -webkit-transition: color 0.2s ease-in;
      -moz-transition: color 0.2s ease-in;
      -ms-transition: color 0.2s ease-in;
      -o-transition: color 0.2s ease-in;
      transition: color 0.2s ease-in; } }

.btn-wrap {
  padding: 1.2rem;
  padding-left: 0;
  max-width: 400px;
  height: auto;
  margin: 2em 0; }
  .btn-wrap .fortbildung-btn {
    font-size: 0.9em;
    font-family: "open_sansregular";
    padding: 1.2rem;
    background-color: white;
    border: 0.1em solid rgba(61, 8, 8, 0.582); }

@media screen and (min-width: 1000px) {
  .fortbildung-btn:hover {
    background-color: #ad1616;
    border: none;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    opacity: 0.8;
    color: white; } }

.comic-homepage-wrapper {
  width: 75%;
  align-self: center; }
  .comic-homepage-wrapper .dsb-header-image {
    width: 100%;
    height: auto; }

@media only screen and (min-width: 550px) and (max-width: 1023px) {
  .start-header {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .start-header .comic-homepage-wrapper {
      order: 2; }
      .start-header .comic-homepage-wrapper .dsb-header-image {
        width: 100%;
        height: auto; }
    .start-header .dsb-headline {
      order: 1;
      flex-basis: 15%;
      padding-right: 1.2rem; }
    .start-header .dsb-sub-headline {
      order: 3;
      flex-basis: 20%;
      padding-left: 1.2rem; } }

@media only screen and (min-width: 1024px) {
  .start-header {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .start-header .comic-homepage-wrapper {
      order: 2;
      width: 30%; }
      .start-header .comic-homepage-wrapper .dsb-header-image {
        width: 100%;
        height: auto; }
    .start-header .dsb-headline {
      order: 1;
      flex-basis: 30%;
      padding-right: 1.2rem;
      font-size: 2rem; }
    .start-header .dsb-sub-headline {
      order: 3;
      flex-basis: 40%;
      padding-left: 1.2rem;
      font-size: 1.5rem;
      align-self: flex-end; }
  .start-main {
    flex-direction: column;
    margin-top: 1.2rem; }
    .start-main .start-article {
      padding-top: 5rem; }
    .start-main .bfgoe-card-wrapper {
      align-self: center;
      margin: 5rem auto; } }

.person-one,
.person-two,
.about-contact-dsb,
.about-contact-bfgoe {
  padding: 0.5rem; }
  .person-one ul,
  .person-two ul,
  .about-contact-dsb ul,
  .about-contact-bfgoe ul {
    list-style-type: none; }
  .person-one .person-header .person-img-container-w,
  .person-two .person-header .person-img-container-w,
  .about-contact-dsb .person-header .person-img-container-w,
  .about-contact-bfgoe .person-header .person-img-container-w {
    background-image: url("../images/Herbold.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px; }
  .person-one .person-header .person-img-container-r,
  .person-two .person-header .person-img-container-r,
  .about-contact-dsb .person-header .person-img-container-r,
  .about-contact-bfgoe .person-header .person-img-container-r {
    background-image: url("../images/IMG_7806.jpg");
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px; }

.about-contact-dsb {
  margin-top: 5rem; }

.about-contact-bfgoe {
  padding-bottom: 5rem; }
  .about-contact-bfgoe .bfgoe-card-wrapper {
    margin-top: 1em; }

.einzelberatung-wrap {
  padding-bottom: 5rem; }
  .einzelberatung-wrap .einzelberatung-img-wrapper {
    width: 55%;
    margin-left: auto;
    margin-right: auto; }
    .einzelberatung-wrap .einzelberatung-img-wrapper img {
      margin: 0 auto;
      padding: 1.2rem 0;
      width: 60%; }
  .einzelberatung-wrap ul {
    padding-left: 0;
    padding-bottom: 0.5rem; }
    .einzelberatung-wrap ul li {
      list-style-type: none; }
    .einzelberatung-wrap ul ul {
      padding-left: 3%; }
      .einzelberatung-wrap ul ul li {
        list-style-type: disc; }

.fortbildung-teilnahmevoraussetzungen,
.fortbildung-curriculum,
.fortbildung-aufbau-umfang {
  padding-top: 1.2rem; }
  .fortbildung-teilnahmevoraussetzungen ul,
  .fortbildung-teilnahmevoraussetzungen ol,
  .fortbildung-curriculum ul,
  .fortbildung-curriculum ol,
  .fortbildung-aufbau-umfang ul,
  .fortbildung-aufbau-umfang ol {
    padding-left: 1.5em; }
    .fortbildung-teilnahmevoraussetzungen ul li,
    .fortbildung-teilnahmevoraussetzungen ol li,
    .fortbildung-curriculum ul li,
    .fortbildung-curriculum ol li,
    .fortbildung-aufbau-umfang ul li,
    .fortbildung-aufbau-umfang ol li {
      margin: 0.1em; }

.fortbildung-curriculum > ol > li:nth-child(n + 2):nth-child(-n + 3) {
  padding-top: 1.2rem; }

.fortbildung-aufbau-umfang {
  padding-bottom: 0.5rem; }
  .fortbildung-aufbau-umfang p {
    margin: 0; }
  .fortbildung-aufbau-umfang h5 {
    padding-top: 1.2rem; }

.uebungs-wrap {
  padding-bottom: 5rem; }
  .uebungs-wrap img {
    display: block;
    width: 80%;
    margin: 0 auto; }
  .uebungs-wrap .uebungs-programm-sub-headline {
    padding-top: 1.2rem; }
  .uebungs-wrap .uebungs-programm-list li {
    padding: 0.5rem; }

@media only screen and (min-width: 550px) and (max-width: 1023px) {
  .uebungs-wrap {
    padding-bottom: 5rem; }
    .uebungs-wrap img {
      margin: 0 auto;
      padding: 1.2rem 0;
      width: 60%; }
  .uebungs-programm-sub-headline {
    padding-top: 1.2rem; }
  .uebungs-programm-list li {
    padding: 0.5rem; } }

@media only screen and (min-width: 1024px) {
  .uebungs-wrap {
    padding-bottom: 5rem; }
    .uebungs-wrap img {
      margin: 0 auto;
      padding: 1.2rem 0;
      width: 60%; }
  .uebungs-programm-sub-headline {
    padding-top: 1.2rem; }
  .uebungs-programm-list li {
    padding: 0.5rem; } }

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto; }

@media only screen and (min-width: 550px) and (max-width: 1023px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    main article {
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }

@media only screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    main article {
      width: 55%;
      margin-left: auto;
      margin-right: auto; } }

header {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 1.2rem; }

@media only screen and (min-width: 550px) and (max-width: 1023px) {
  header {
    display: flex;
    flex-direction: row; }
    header h1,
    header h3 {
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }

@media only screen and (min-width: 1024px) {
  header {
    width: 100%;
    padding-top: 5rem; }
    header h1,
    header h3 {
      width: 55%;
      margin-left: auto;
      margin-right: auto; }
  .header-rest {
    width: 80%;
    padding-top: 5rem; }
    .header-rest h1,
    .header-rest h3 {
      width: 55%;
      margin-left: auto;
      margin-right: auto; } }
