*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }
  body p {
    margin: calc(1em + 0.5vw) 0; }
  body ol {
    counter-reset: item li;
      counter-reset-display: block; }
  body ol > li {
    counter-increment: item; }
  body ol ol > li {
    display: block; }
  body ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px; }

.general-wrapper {
  max-width: 1450px;
  margin: 0 auto;
  margin-top: 1%; }

@font-face {
  font-family: 'nunitoregular';
  src: url("../fonts/Nunito/nunito-regular-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoblack';
  src: url("../fonts/Nunito/nunito-black-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoblack_italic';
  src: url("../fonts/Nunito/nunito-blackitalic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitobold';
  src: url("../fonts/Nunito/nunito-bold-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitobold_italic';
  src: url("../fonts/Nunito/nunito-bolditalic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoextrabold';
  src: url("../fonts/Nunito/nunito-extrabold-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoextrabold_italic';
  src: url("../fonts/Nunito/nunito-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoextralight';
  src: url("../fonts/Nunito/nunito-extralight-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoextralight_italic';
  src: url("../fonts/Nunito/nunito-extralightitalic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitoitalic';
  src: url("../fonts/Nunito/nunito-italic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitolight';
  src: url("../fonts/Nunito/nunito-light-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nunitolight_italic';
  src: url("../fonts/Nunito/nunito-lightitalic-webfont.woff2") format("woff2"), url("../fonts/Nunito/nunito-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold_italic';
  src: url("../fonts/OpenSans/opensans-bolditalic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url("../fonts/OpenSans/opensans-extrabold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url("../fonts/OpenSans/opensans-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/OpenSans/opensans-light-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight_italic';
  src: url("../fonts/OpenSans/opensans-lightitalic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansitalic';
  src: url("../fonts/OpenSans/opensans-regularitalic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/OpenSans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url("../fonts/OpenSans/opensans-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/OpenSans/opensans-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px; }

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680)); } }

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px; } }

body {
  font-family: "open_sansregular"; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: "nunitoregular";
    line-height: 1.2; }
  body h1 {
    font-family: "nunitolight";
    letter-spacing: -1px;
    font-size: 2em; }
  body h3 {
    font-family: "nunitobold";
    letter-spacing: -1px;
    color: rgba(0, 0, 0, 0.75); }
  body p {
    line-height: calc(1.5em + .2vw);
    word-break: break-word; }

@media screen and (min-width: 1024px) {
  body {
    font-size: 1em; } }

.dsb-navbar {
  display: flex;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }
  .dsb-navbar .dsb-logo-container .logo {
    padding: 1.2rem; }
  .dsb-navbar .hamburger-wrap {
    margin-left: auto; }
  .dsb-navbar nav .dsb-navigation-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 72.8px;
    margin: 0;
    padding: 0.5rem;
    background-color: white;
    list-style: none;
    z-index: 200;
    border-left-width: 1px solid black;
    -webkit-box-shadow: -8px 7px 12px 0px #614141;
    -moz-box-shadow: -8px 7px 12px 0px #614141;
    box-shadow: -8px 7px 12px 0px #614141; }
  .dsb-navbar nav .hide {
    display: none; }
  .dsb-navbar nav li {
    margin: 0.5em 0.1em 0.1em 0.5em;
    border-bottom: 1px solid rgba(61, 8, 8, 0.747); }
  .dsb-navbar nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: medium; }

@media only screen and (min-width: 1024px) {
  .dsb-navbar {
    box-shadow: none; }
    .dsb-navbar .hamburger-wrap {
      display: none; }
    .dsb-navbar nav {
      align-self: flex-end;
      flex-basis: 80%; }
      .dsb-navbar nav .hide {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin-bottom: 1%;
        list-style: none; }
      .dsb-navbar nav li {
        margin: 0; }
      .dsb-navbar nav a {
        text-decoration: none;
        font-size: medium; } }

.hamburger-wrap {
  padding-top: 1.2rem;
  padding-right: 1.2rem; }
  .hamburger-wrap label.hamburg {
    display: block;
    background: white;
    width: 75px;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px; }
  .hamburger-wrap input#hamburg {
    display: none; }
  .hamburger-wrap .line {
    position: absolute;
    right: 10px;
    height: 4px;
    width: 55px;
    background: #350707;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    transform-origin: center; }
  .hamburger-wrap .line:nth-child(1) {
    top: 12px; }
  .hamburger-wrap .line:nth-child(2) {
    top: 24px; }
  .hamburger-wrap .line:nth-child(3) {
    top: 36px; }
  .hamburger-wrap #hamburg:checked + .hamburg .line:nth-child(1) {
    transform: translateY(12px) rotate(-45deg); }
  .hamburger-wrap #hamburg:checked + .hamburg .line:nth-child(2) {
    opacity: 0; }
  .hamburger-wrap #hamburg:checked + .hamburg .line:nth-child(3) {
    transform: translateY(-12px) rotate(45deg); }

footer {
  display: flex;
  flex-direction: column;
  font-size: small;
  font-family: 'open_sanssemibold';
  color: #2c2b2b; }
  footer a {
    text-decoration: none;
    color: #2c2b2b; }
  footer ul {
    list-style-type: none;
    padding-left: 1.2rem;
    padding-top: 1.2rem;
    margin: 0; }
  footer .contact-wrapper li:first-child, footer .footer-link-wrapper li:first-child {
    padding-bottom: 0.5rem;
    color: rgba(61, 8, 8, 0.747); }
  footer .footer-last ul {
    display: flex; }
    footer .footer-last ul li {
      padding: 0 0.5rem 0.5rem 0; }

.bfgoe-card-wrapper {
  border: 2px solid rgba(0, 0, 0, 0.507);
  border-radius: 20px;
  padding: 0.5rem;
  max-width: 400px;
  min-width: 150px; }
  .bfgoe-card-wrapper .bfgoe-card-title {
    padding: 1.2rem; }
    .bfgoe-card-wrapper .bfgoe-card-title img {
      width: 8em; }
  .bfgoe-card-wrapper .bfgoe-card-text {
    color: rgba(0, 0, 0, 0.849);
    padding: 0 1.2rem 1.2rem 0;
    font-size: 1em; }
  .bfgoe-card-wrapper .bfgoe-card-action {
    border-top: 0.1px solid grey;
    padding: 1.2rem 1.2rem 0 0; }

.bfgoe-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid rgba(0, 0, 0, 0.507);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.3em;
  text-align: center;
  font-size: medium; }
  @media all and (max-width: 30em) {
    .bfgoe-button .bfgoe-button {
      display: block;
      margin: 0.4em auto; } }
  .bfgoe-button a {
    color: black;
    text-decoration: none; }

.start-header {
  display: flex;
  flex-direction: column; }
  .start-header .comic-homepage-wrapper {
    width: 50%;
    align-self: center; }
    .start-header .comic-homepage-wrapper .dsb-header-image {
      width: 100%;
      height: auto; }
  .start-header .dsb-headline {
    align-self: center; }
  .start-header .dsb-sub-headline {
    align-self: center; }

.start-main {
  display: flex;
  flex-direction: column; }
  .start-main .start-article {
    padding: 5rem; }
  .start-main .bfgoe-card-wrapper {
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto; }

@media only screen and (min-width: 1024px) {
  .start-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem; }
    .start-header .comic-homepage-wrapper {
      order: 2;
      flex-basis: 40%;
      width: 100%; }
      .start-header .comic-homepage-wrapper .dsb-header-image {
        width: 100%;
        height: auto; }
    .start-header .dsb-headline {
      order: 1;
      flex-basis: 15%;
      padding-right: 1.2rem; }
    .start-header .dsb-sub-headline {
      order: 3;
      flex-basis: 15%;
      padding-left: 1.2rem; }
  .start-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem;
    padding-top: 0;
    flex-wrap: wrap; }
    .start-main .start-article {
      flex: 1 1 100%;
      padding-top: 0; }
    .start-main .bfgoe-card-wrapper {
      flex: 1 1 100%; } }
